<p id="notice"><%= notice %></p>

<h1>Osm Issue Hdrs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @osm_issue_hdrs.each do |osm_issue_hdr| %>
      <tr>
        <td><%= link_to 'Show', osm_issue_hdr %></td>
        <td><%= link_to 'Edit', edit_osm_issue_hdr_path(osm_issue_hdr) %></td>
        <td><%= link_to 'Destroy', osm_issue_hdr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Osm Issue Hdr', new_osm_issue_hdr_path %>
