<p id="notice"><%= notice %></p>

<h1>Osm Issue Dtls</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @osm_issue_dtls.each do |osm_issue_dtl| %>
      <tr>
        <td><%= link_to 'Show', osm_issue_dtl %></td>
        <td><%= link_to 'Edit', edit_osm_issue_dtl_path(osm_issue_dtl) %></td>
        <td><%= link_to 'Destroy', osm_issue_dtl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Osm Issue Dtl', new_osm_issue_dtl_path %>
